---
import Layout from "../../layouts/Layout.astro";
import WorkPost from "../../components/WorkPost.astro";
import { getWorkTagsList, toSlug, getWorkPagination } from "@/utils/post.js";
import Pagination from "../../utils/widgets/Pagination.astro";
import type { Page } from "astro";

export const prerender = true;

export async function getStaticPaths({ paginate }) {
  return getWorkPagination(paginate);
}

const workTags = getWorkTagsList();
const { page } = Astro.props as { page: Page<any> };
---

<Layout pageTitle="Work">
  <div class="tags-container">
    <div class="tagscon">
      {
        workTags.map((tag) => (
          <a href={`/works/tags/${toSlug(tag)}`}>
            <p class="tags">
              <button>{tag}</button>
            </p>
          </a>
        ))
      }
    </div>
  </div>
  <div class="grid-container">
    <WorkPost projects={page.data} />
  </div>

  <Pagination page={page} />
</Layout>

<style>
  .tags-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    white-space: wrap;

    & > .tagscon {
      display: flex;
      align-items: center;
      /*       width: 90%; */
      overflow-x: auto;
      flex-wrap: wrap;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }
      white-space: nowrap;
      & a > .tags button {
        color: var(--text);
      }
    }

    & p.tags {
      margin: 0.25rem;
      padding: 0.65rem;
      overflow: visible;
      width: auto;
      border: var(--bor2);
      border-radius: var(--br);
      flex-wrap: nowrap;
      transition: var(--trns);
      &:hover {
        scale: 1.06;
        transition: var(--trns);
      }
    }
  }
  @container body (max-width: 768px) {
    .tags-container > .tagscon {
      flex-wrap: nowrap;
    }
  }
</style>
