---
const { id = "search" } = Astro.props;
---

<div id={id}></div>
<script>
  function initPageFindUI() {
    // @ts-ignore
    new PagefindUI({
      element: "#search",
      debounceTimeoutMs: 500,
      showSubResults: true,
      resetStyles: false,
      showResultCount: true,
    });
  }

  document.addEventListener("astro:page-load",  initPageFindUI);
</script>
