---
import "../styles/global.css";
import { Icon } from "astro-icon/components";

// Head içine yerleştirilecek script'i export edelim
export const preloadTheme = `
<script is:inline>
  const theme = localStorage.getItem("theme") ?? "light";
  document.documentElement.classList.toggle("dark", theme === "dark");
  document.body.classList.toggle("dark", theme === "dark");
</script>
`;
---

<button id="theme-toggle" aria-label="Change theme">
    <span class="light-icon">
        <Icon name="mdi:moon-waning-crescent" width="24" height="24" />
    </span>
    <span class="dark-icon">
        <Icon name="mdi:white-balance-sunny" width="24" height="24" />
    </span>
</button>

<style>
    #theme-toggle {
        color: var(--text);
        transition: var(--trns);
    }
    .dark-icon {
        display: none;
    }
    :global(.dark) .dark-icon {
        display: inline-flex;
    }
    :global(.dark) .light-icon {
        display: none;
    }
</style>

<script>
    function applyTheme() {
        const body = document.body;
        const theme = localStorage.getItem("theme");

        if (theme === "dark") {
            document.documentElement.classList.add("dark");
            body.classList.add("dark");
        } else {
            document.documentElement.classList.remove("dark");
            body.classList.remove("dark");
        }
    }

    function setupToggle() {
        const toggleBtn = document.getElementById("theme-toggle");

        if (!toggleBtn) return;

        toggleBtn.addEventListener("click", () => {
            const isDark = document.documentElement.classList.toggle("dark");
            document.body.classList.toggle("dark", isDark);
            
            if (isDark) {
                localStorage.setItem("theme", "dark");
            } else {
                localStorage.setItem("theme", "light");
            }
        });
    }

    document.addEventListener("astro:after-swap", () => {
        applyTheme();
        setupToggle();
    });

    document.addEventListener("DOMContentLoaded", () => {
        applyTheme();
        setupToggle();
    });
</script>
