---
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";
import Card from "../components/Card.astro";
import "src/styles/global.scss";
import { ClientRouter } from "astro:transitions";
import { preloadTheme } from "../components/Theme.astro";

interface Props {
  pageTitle?: string;
  description?: string;
}

const { pageTitle = "My Blog", description = "A simple blog" } =
  Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
    <Fragment set:html={preloadTheme} />
  </head>
  <body
    ><ClientRouter />
    <section>
      <Card />
      <div class="main">
        <Header />
        <slot />
      </div>
    </section>
    <Footer />
  </body>
</html>

<style lang="scss">
  section {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: 50%;
    padding: 10px;
    gap: var(--size-3);
   /*  border: var(--bor); */
    & .main {
      width: var(--size-content-6);
      overflow: hidden;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: var(--size-2) 0;
    }
  }
  @container body (max-width: 880px) {
    section {
      flex-wrap: wrap;
    }
    .main {
      max-width: 100%;
      order: 1;
    }
  }
  @container body (max-width: 480px) {
    section {
      flex-wrap: wrap;
    }
    .main {
      max-width: 100%;
      order: 1;
    }
  }
</style>
